/* CSS for Hangman */

body {
  background: rgb(1, 31, 10);
  font-family: "VT323", "Courier New", Courier, monospace;
  color: rgb(68, 226, 68);
  height: 100%;
  text-align: center;
  font-size: 25px;
}

#tileHolder {
    letter-spacing: 5px;
}

.wrappper{
  width: 100%;
  margin: 0 auto;
}

h1 {
    font-size: 75px;
    font-weight: 100;
}

#tileHolder {
    font-size: 24px;
}

button {
    font-family: "VT323", "Courier New", Courier, monospace;
    background:rgb(68, 226, 68);
    color:rgb(1, 31, 10);
    border: solid 1px white;
    font-size: 18px;
    cursor: pointer;
    padding: 18px 10px;
    width: 100px;
    margin: 10px;
}



button:hover {
    color:rgb(68, 226, 68);
    background:rgb(1, 31, 10);
}

button:focus {
    outline:0;
}